<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>

    </body>
    <div id="footer-wrapper">
        <div id="footer" class="container">
    CSS Layout Courtesy of <a href="http://templated.co/retention">Templated</a> under the Creative Commons License and then further modified by me.
    If this is at all an issue, please let me know and I'll use a different CSS created entirely by me instead.
  </div>
</div>

</html>

