    <!-- 
   Author: Templated & Edited By Roman Polonyankin
 * File Name: header.ejs
 * Website Name: Assignment 1

 * File Description: 
 This is the header containing the nav information.
 Also includes code for jquery as a demonstration of knowing how to add it, however the site itself doesn't really need it.
     -->
     <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script> 
              <div id="menu-wrapper">
                  <div id="menu" class="container">
                    <ul>
                      <li> <a href="/">Home</a> </li> 
                      <li>    <a href="/projects">Projects</a>   </li> 
                      <li> <a href="/contact">Contact Me</a> </li> 
                      <li>  <a href="/aboutme">About</a> </li> 
                      <li> <a href="/services">Services</a> </li>
                    </ul>
                  </div>
                </div>
                  


