<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
            <!-- <nav>
                  <div class="nav-wrapper">
                      <ul id="nav-mobile" class="right hide-on-med-and-down">
                               <a href="/">Home</a> 
                               <a href="/projects">Projects</a>   
                               <a href="/contact">Contact Me</a> 
                               <a href="/aboutme">About</a> 
                               <a href="/services">Services</a> 
                      </ul>
                    </div>
              </nav> -->
              
              <div id="menu-wrapper">
                  <div id="menu" class="container">
                    <ul>
                      <li> <a href="/">Home</a> </li> 
                      <li>    <a href="/projects">Projects</a>   </li> 
                      <li> <a href="/contact">Contact Me</a> </li> 
                      <li>  <a href="/aboutme">About</a> </li> 
                      <li> <a href="/services">Services</a> </li>
                    </ul>
                  </div>
                </div>
                  
                </body>
</html>

