<!DOCTYPE html>
<html>
  <head>
    
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <% include partials/header %>

  </head>

  <body>

     <div id="page" class="container">
               
               <div class="title">
               <h2>About Me</h2>
               </div>

              <p>
                Hello, since you've landed on this page you'd probably like to know more about me. My name's Roman and I'm a student at Georgian College. There really isn't too much more to say without getting into my personal life, but I do enjoy programming and web development, and think that this small portfolio website is a great exercise.
              </p>

    </div>

  </body>
  
  <% include partials/footer %>
</html>
