<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <% include partials/header %>
  </head>


  <body>


    <div id="page" class="container">
          <div class="title">
            <h2>Contact Information</h2>
 </div>
          <p>The best and easiest way of contacting me would be through my email: TotallyRealEmail@RealEmail.ca</p>
          <p>If not, I'm available through a definitely real phone number as well: 444-111-1234</p>


        </div>


  </body>
  <% include partials/footer %>
</html>
