<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <% include partials/header %>
  </head>

  <body>


     <div id="page" class="container">

          <div class="title">
          <h2>Welcome to My Portfolio</h2>
         </div>

            <p>
              Hello and welcome to the homepage of my portfolio! Please feel free to use the navigation up above to browse to your heart's content. In the Projects tab you will be able to find a few of my select projects that I wish to share via my github repositories. The about page will bring you to even more information about myself, and under services you can finally see what I'm available to do.
            </p>

            <p>
              And naturally the Contact Me page will send you to the page which will tell you how you may contact me. Please enjoy your visit to the website!
            </p>

     </div>


  </body>
  <% include partials/footer %>
</html>
