<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <% include partials/header %>
  </head>

  <body>


    <div id="page" class="container">

          <div class="title">
            <h2>My Projects</h2>
          </div>

            <p>
              First of all, this website would be amongst them, and it can be found <a href="/">here!</a>
            </p>

            <p>
              Next up I do have a very wide variety available on my <a href="https://github.com/obscure-reference?tab=repositories">Github page</a> even if the vast majority are private repositories.
            </p>

            <p>
            <img class="w3-round" src="images\code.jpg" border="0" alt="Picture of code.">
          </p>

    </div>


  </body>
  <% include partials/footer %>
</html>
