<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/default.css' />
    <% include partials/header %>
  </head>


  <body>


    <div id="page" class="container">
          <div class="title">
            <h2>Services</h2>
 </div>
          <p>Here are my currently available services:</p>
          <li>Web Development (JS, CSS, HTML, ASP.NET)</li>
          <li>Application Development (Java, C#, C++)</li>


        </div>


  </body>
  <% include partials/footer %>
</html>
