/** Author: Templated (https://templated.co/retention) & Edited by Roman Polonyaknin
 * File Name: default.css
 * Website Name: Assignment 1
 * File Description: This is a modified CSS template courtesy of Templated.co, containing all CSS information
 */


html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: rgb(61, 61, 61);
	font-family: 'Muli', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #cecece;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 190%;
}

a {
	color: #0cd2ec;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

	.image
	{
		display: inline-block;
	}
	
		.image img
		{
			display: block;
			width: 100%;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}

hr {
	display: none;
}


/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 2em;
		padding: 25px 0px 0px 0px;
	}

	.title h2
	{
		letter-spacing: 0.05em;
		font-weight: 700;
		font-size: 2em;
		color: rgb(0, 176, 192);
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: rgb(189, 189, 189);
	}

/** MAIN CONTENT WRAPPER */

#wrapper {
	background: #FFFFFF url(images/bg01.png) repeat;
}

#footer-wrapper
{
	background: #0F0F0F;
}

.container {
	width: 1200px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}





/** NAV MENU */

#menu-wrapper
{
	background: rgb(0, 176, 192);
}


#menu {
	overflow: hidden;
	height: 50px;

}

#menu ul {
	margin: 0;
	padding: 15px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	padding: 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	font-weight: 600;
	border: none;
	color: rgb(20, 20, 20);
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}



/** PAGE */

#page
{
	position: relative;
	overflow: hidden;
	padding: 0em 0em 5em 0em;
}



/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer-wrapper
	{
		overflow: hidden;
		padding: 2em 0em;
		background: #1E1B1A;
	}

	#footer
	{
		color: #ADADAD;
	}

	
















	